/* Styles */
@import "base.css";
@import "theme.css";
@import "layout.css";
@import "state.css";

/* UI Components */
@import "ui/buttons.css";
@import "ui/forms.css";
@import "ui/images.css";
@import "ui/panels.css";

/* Header */
.header {
    position: relative;

    margin-top: 62px;
}

.header__nav {
    max-width: 436px;
}

.header__link {
    font-family: "spartanmb-bold";

    position: relative;
    transition: all 0.4s ease;

    background-image: linear-gradient(to right, #E94E6C, #EC6833);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__link:hover {
    color: inherit;
    background-image: linear-gradient(to right, #3B3D3E, #3B3D3E);
}

.header__link::before {
    transition: all 0.4s ease;
    position: absolute;
    content: "";
    display: block;
    width: 110%;
    height: 1px;
    background-color: #DAE2E5;
    bottom: 4px;
    left: 0;
    z-index: -1;
}

.header__link:hover::before {
    height: 3px;
    bottom: 1px;
    background-image: linear-gradient(to right, #E94E6C, #EC6833);
}

.header__nav-trigger {
    position: relative;

    display: none;

    width: 32px;
    height: 24px;

    cursor: pointer;

    background-image: linear-gradient(to bottom, transparent, transparent 72%, #2e3445 32%, #2e3445);
    background-size: 100% 14px;
}

.header__nav-trigger::before,
.header__nav-trigger::after {
    position: absolute;

    display: block;

    width: 16px;
    height: 4px;

    content: "";
    transition: all 0.4s ease;

    background-color: #2e3445;
}

.header__nav-trigger::before {
    top: 0;
    right: 0;
}

.header__nav-trigger::after {
    bottom: 0;
    left: 0;
}

input[name="nav-trigger"]:checked + .header__nav-trigger::before,
input[name="nav-trigger"]:checked + .header__nav-trigger::after {
    width: 100%;
}

.hero {
    margin-top: 115px;
}

.hero__title {
    font-size: 68px;
    margin-bottom: 0;
}

.hero__image {
    display: block;
    width: 400px;
    height: 560px;
    background-color: #D8D8D8;

    border-top-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.help {
    margin-bottom: 100px;
}

.help__item {
    background-color: #FFFFFF;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.10);
    border-radius: 0 12px 0 12px;
    padding: 30px 40px 14px;
    position: relative;
}

.help__item::after {
    content: "";
    position: absolute;
    display: block;
    right: -120px;
    top: 50%;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.help__item--churn::after {
    width: 74px;
    height: 70px;

    background-image: url("/assets/images/icon-churn.svg");
}

.help__item--mental::after {
    width: 74px;
    height: 74px;

    background-image: url("/assets/images/icon-mental.svg");
}

.help__item--onboarding::after {
    width: 80px;
    height: 63px;

    background-image: url("/assets/images/icon-onboarding.svg");
}

.services {
    margin-bottom: 90px;
}

.services__list {
    white-space: nowrap;
}

.looks {
    margin-bottom: 100px;
}

.looks__item {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.10);
    height: 340px;
    cursor: pointer;
}

.looks__figure {
    position: relative;
    overflow: hidden;
    height: 340px;
}

.looks__search {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.4s ease;

    transform: translate(-50%, -50%);

    will-change: transform;
    z-index: 1;
}

.looks__item:hover .looks__search {
    transform: translate(-50%, -50%) scale(1.2);
}

.looks__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.1);
    transition: all 1s ease;

    will-change: transform;
}

.looks__item:hover .looks__image {
    transform: scale(1.4);
    filter: opacity(0.4);
}

.impacts {
    margin-bottom: 100px;
}

.footer {
    padding-top: 50px;
    background-image: linear-gradient(90deg, #EFF3F4 50%, #FFFFFF 50%);
}

.footer__blog {
    position: relative;
    padding-left: 40px;
    z-index: 1;
}

.footer__blog::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 120%;
    background-color: #FFFFFF;
    box-shadow: 8px 16px 32px 0 rgba(0, 0, 0, 0.10);
    border-radius: 12px 0 0 0;
    z-index: -1;
}

/* Media queries */

/* Medium */
@media (max-width: 768px) {

}

/* Small */
@media (max-width: 425px) {

}
