@font-face {
    font-family: "metropolis-light-italic";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/metropolis-light-italic.woff2") format("woff2");
}

@font-face {
    font-family: "metropolis-regular";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/metropolis-regular.woff2") format("woff2");
}

@font-face {
    font-family: "spartanmb-bold";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/spartanmb-bold.woff2") format("woff2");
}

@font-face {
    font-family: "spartanmb-regular";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/spartanmb-regular.woff2") format("woff2");
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "spartanmb-regular";
    font-size: 16px;
    line-height: 1.75;

    color: #3b3d3e;
    background-color: #ffffff;
}

h1 {
    font-family: "metropolis-regular";
    font-size: 48px;
    line-height: 1.2;

    margin-bottom: 50px;

    color: inherit;
}

h2 {
    font-family: inherit;
    font-size: 24px;
    line-height: 1.4;

    margin-bottom: 26px;

    color: #909fa4;
}

h3 {
    font-family: "spartanmb-bold";
    font-size: 24px;
    line-height: 1.4;

    margin-bottom: 30px;

    color: inherit;
}

h4 {
    font-family: "spartanmb-regular";
    font-size: 16px;
    line-height: 1.7;

    margin-bottom: 20px;

    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

a {
    font-size: inherit;
    line-height: inherit;

    color: inherit;
}

b,
strong {
    font-family: "spartanmb-bold";
}

small {
    font-size: 12px;
    line-height: inherit;
}

hr {
    display: block;
    width: 40px;
    height: 3px;
    background-image: linear-gradient(to right, #E94E6C, #EC6833);
    border: 0;
    margin: 0 0 85px 0;
}

/* Media queries */

/* Medium */
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

/* Small */
@media (max-width: 425px) {
}
