@font-face {
    font-family: "metropolis-light-italic";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/metropolis-light-italic.woff2") format("woff2");
}

@font-face {
    font-family: "metropolis-regular";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/metropolis-regular.woff2") format("woff2");
}

@font-face {
    font-family: "spartanmb-bold";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/spartanmb-bold.woff2") format("woff2");
}

@font-face {
    font-family: "spartanmb-regular";
    font-weight: normal;
    font-style: normal;

    src: url("../assets/fonts/spartanmb-regular.woff2") format("woff2");
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "spartanmb-regular";
    font-size: 16px;
    line-height: 1.75;

    height: 100vh;

    color: #3b3d3e;
    background-color: #ffffff;
}

h1 {
    font-family: "metropolis-regular";
    font-size: 48px;
    line-height: 1.2;

    margin-bottom: 50px;

    -webkit-user-select: text;
            user-select: text;

    color: inherit;
}

h2 {
    font-family: inherit;
    font-size: 24px;
    line-height: 1.4;

    max-width: 100%;
    margin-bottom: 26px;

    -webkit-user-select: text;
            user-select: text;

    color: #909fa4;
}

h3 {
    font-family: "spartanmb-bold";
    font-size: 24px;
    line-height: 1.4;

    max-width: 100%;
    margin-bottom: 30px;

    -webkit-user-select: text;
            user-select: text;

    color: inherit;
}

h4 {
    font-family: "spartanmb-regular";
    font-size: 24px;
    line-height: 1.7;

    max-width: 100%;
    margin-bottom: 20px;

    -webkit-user-select: text;
            user-select: text;

    color: inherit;
}

h4 small {
    font-size: 16px;
}

h5 {
    font-family: "spartanmb-bold";
    font-size: 16px;
    line-height: 1.7;

    max-width: 100%;
    margin-bottom: 20px;

    -webkit-user-select: text;
            user-select: text;

    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 16px;

    -webkit-user-select: text;
            user-select: text;
}

a {
    font-size: inherit;
    line-height: inherit;

    color: inherit;
}

.link {
    font-family: "spartanmb-bold";

    position: relative;
    z-index: 1;

    display: inline-flex;

    transition: all 0.4s ease;

    background-image: linear-gradient(to right, #e94e6c, #ec6833);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* Safari hack */
_::-webkit-full-page-media,
_:future,
:root .link {
    -webkit-text-fill-color: #e94e6c;
}

.link:hover,
.link--active {
    color: inherit;
    background-image: linear-gradient(to right, #3b3d3e, #3b3d3e);
}

.link::before {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 0;

    display: block;

    width: 110%;
    height: 1px;

    content: "";
    transition: all 0.4s ease;

    background-color: #dae2e5;
}

.link:hover::before,
.link--active::before {
    bottom: 1px;

    height: 3px;

    background-image: linear-gradient(to right, #e94e6c, #ec6833);
}

b,
strong {
    font-family: "spartanmb-bold";
}

small {
    font-size: 12px;
    line-height: inherit;
}

hr {
    display: block;

    width: 40px;
    height: 3px;
    margin: 0 0 85px 0;

    border: 0;
    background-image: linear-gradient(to right, #e94e6c, #ec6833);
}

/* Media queries */

/* Medium */
@media (max-width: 768px) {
}

/* Small */
@media (max-width: 425px) {
    h1 {
        font-size: 36px;

        margin-bottom: 48px;
    }

    h2 {
        font-size: 18px;

        margin-bottom: 42px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    hr {
        margin: 0 0 50px 0;
    }

    .link {
        font-size: 12px;
    }
}
